# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Python database
*.db

# Node.js
node_modules/

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db